head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Fonts
  link(rel='preload' href='/fonts/Gilroy-Black.woff2' as='font' crossorigin)
  link(rel='preload' href='/fonts/Gilroy-Regular.woff2' as='font' crossorigin)
  link(rel='preload' href='/fonts/Gilroy-Medium.woff2' as='font' crossorigin)
  link(rel='preload' href='/fonts/Gilroy-Bold.woff2' as='font' crossorigin)
  link(rel='preload' href='/fonts/Acrom-Regular.woff2' as='font' crossorigin)
  link(rel='preload' href='/fonts/Acrom-Bold.woff2' as='font' crossorigin)
  link(rel='preload' href='/fonts/Acrom-ExtraBold.woff2' as='font' crossorigin)
  // End Fonts
  // Styles
  link(rel='stylesheet' href='/css/plugins/normalize.css')
  link(rel='stylesheet' href='/css/plugins/bootstrap-grid.min.css')
  link(rel='stylesheet' href='/css/plugins/swiper-bundle.min.css')
  link(rel='stylesheet' href='/css/style.css?v=1')
  // End Styles
  title FlexWave Photonics
